@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* Now 10px = 1rem! */
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper {
  height: 100vh;
  height: 100vh;
  background-image: url("../images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper .nav {
  width: 100vw;
  padding: 3.2rem 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .header {
  width: 100vw;
  text-align: center;
  position: relative;
  padding: 0 2.4rem;
}

.wrapper .header h1 {
  font-family: "Barlow", sans-serif;
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  line-height: 5rem;
  letter-spacing: 0.5rem;
  margin-bottom: 5rem;
}

.wrapper .header .mobile-menu {
  margin: 0 auto;
  width: calc(100% - 4.8rem);
  position: absolute;
  top: 0;
}

.wrapper .header .mobile-menu .arrow-box {
  background-color: white;
  padding: 4rem 0;
  position: relative;
}

.wrapper .header .mobile-menu .arrow-box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border-bottom: 24px solid white;
  border-left: 20px solid transparent;
  border-right: 22px solid transparent;
  top: 0;
  left: 98%;
  -webkit-transform: translate(-50%, -50%) rotate(140deg);
          transform: translate(-50%, -50%) rotate(140deg);
}

.wrapper .header .mobile-menu .arrow-box_item {
  margin: 3rem 0;
}

.wrapper .header .mobile-menu .arrow-box_item a {
  color: #818498;
  font-size: 1.5rem;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
}

.wrapper .header .mobile-menu .arrow-box_item:last-child a {
  text-transform: uppercase;
  background-color: #fad400;
  border-radius: 50px;
  padding: 1rem 3rem;
}
