@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* Now 10px = 1rem! */
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper {
  height: 100vh;
  height: 100vh;
  background-image: url("../images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper .nav {
  width: 100vw;
  padding: 3.2rem 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .header {
  width: 100vw;
  text-align: center;
  position: relative;
  padding: 0 2.4rem;
}

.wrapper .header h1 {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  line-height: 5rem;
  letter-spacing: 0.5rem;
  margin-bottom: 5rem;
}

.wrapper .header .mobile-menu {
  margin: 0 auto;
  width: calc(100% - 4.8rem);
  position: absolute;
  top: 0;
}

.wrapper .header .mobile-menu .arrow-box {
  background-color: white;
  padding: 4rem 0;
  position: relative;
}

.wrapper .header .mobile-menu .arrow-box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border-bottom: 24px solid white;
  border-left: 20px solid transparent;
  border-right: 22px solid transparent;
  top: 0;
  left: 98%;
  -webkit-transform: translate(-50%, -50%) rotate(140deg);
          transform: translate(-50%, -50%) rotate(140deg);
}

.wrapper .header .mobile-menu .arrow-box_item {
  margin: 3rem 0;
}

.wrapper .header .mobile-menu .arrow-box_item a {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  color: #818498;
  font-size: 1.5rem;
  text-decoration: none;
}

.wrapper .header .mobile-menu .arrow-box_item:last-child a {
  text-transform: uppercase;
  background-color: #fad400;
  border-radius: 50px;
  padding: 1rem 3rem;
}

.article_wrapper {
  padding: 3.2rem 2.4rem;
}

.article_image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article_title {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #23303e;
  text-align: center;
  line-height: 2.5rem;
}

.article_paragraph {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #5a636c;
  line-height: 2rem;
  margin: 4.5rem 0 4rem 0;
  text-align: center;
  word-spacing: 0.3rem;
}

.article_cta {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: #23303e;
  letter-spacing: 0.1rem;
  position: relative;
}

.article_cta:before {
  position: absolute;
  content: "";
  top: 0.8rem;
  left: 9rem;
  width: 35%;
  height: .7rem;
  background: rgba(250, 212, 0, 0.404);
  z-index: -1;
  border-radius: .5rem;
  -webkit-transition: .35s;
  transition: .35s;
}

a.red:before {
  background: rgba(254, 120, 103, 0.404);
}

.bg-image {
  height: 40rem;
  padding: 3.2rem 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bg-image.design {
  background-image: url(../images/mobile/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image.photography {
  background-image: url(../images/mobile/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image_title {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.bg-image_title.design {
  color: #25564b;
}

.bg-image_title.photography {
  color: #19536b;
}

.bg-image_paragraph {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  color: #23303e;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
}

.bg-image_paragraph.design {
  color: #25564b;
}

.bg-image_paragraph.photography {
  color: #19536b;
}

.testimonials {
  padding: 3.2rem 2.4rem;
}

.testimonials h4 {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #a7abae;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  margin-bottom: 3.2rem;
}

.testimonials .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .card:nth-child(3) {
  margin: 4.4rem 0;
}

.testimonials .card img {
  border-radius: 100%;
  width: 5rem;
}

.testimonials .card p {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #5a636c;
  line-height: 2rem;
  margin: 2rem 0 2.5rem 0;
  text-align: center;
  word-spacing: 0.3rem;
}

.testimonials .card span {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.testimonials .card small {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  color: #a7abae;
  font-size: 1rem;
  margin-top: 0.7rem;
}

.booklet {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.booklet img {
  width: 50%;
}

.footer {
  padding: 3.2rem 2.4rem;
  background-color: greenyellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .nav-list {
  margin: 3.2rem 0 5.4rem 0;
}

.footer .nav-list,
.footer .nav-list-social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer .nav-list .nav-list_item,
.footer .nav-list-social .nav-list_item {
  margin: 0 2rem;
}

.footer .nav-list .nav-list_item a,
.footer .nav-list-social .nav-list_item a {
  color: #458c7e;
  text-decoration: none;
}

.footer .nav-list .nav-list-social_item,
.footer .nav-list-social .nav-list-social_item {
  margin: 0 1rem;
}
