@import "_variables";
@import "_common";
@import "partials/_header";
@import "partials/_article";
@import "partials/_image";
@import "partials/_testimonials";


.booklet {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    img {
        width: 50%;
    }
}