.article {

    &_wrapper {
        padding: 3.2rem 2.4rem;
    }

    &_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &_title {
        @include title;
        font-size: 2rem;
        color: $Verydarkdesaturatedblue;
        text-align: center;
        line-height: 2.5rem;
    }

    &_paragraph {
        @include paragraph;
        font-size: 1.2rem;
        color: $Verydarkgrayishblue;
        line-height: 2rem;
        margin: 4.5rem 0 4rem 0;
        text-align: center;
        word-spacing: 0.3rem;
    }

    &_cta {
        @include paragraph;
        display: block;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        color: $Verydarkdesaturatedblue;
        letter-spacing: 0.1rem;
        position: relative;

        &:before {
            position: absolute;
            content: "";
            top: 0.8rem;
            left: 9rem;
            width: 35%;
            height: .7rem;
            background: hsla(51, 100%, 49%, 0.404);
            z-index: -1;
            border-radius: .5rem;
            transition: .35s;
        }
    }
}

a.red:before {
    background: hsla(7, 99%, 70%, 0.404);
}