.booklet {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    img {
        width: 50%;
    }
}

@media screen and (min-width: 48rem) {

    .booklet {

        img {
            width: calc(100vw / 4);
        }
    }

}