.footer {
    padding: $slavePadding;
    background-color: #99D3C5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .nav-list {
        margin: 3.2rem 0 5.4rem 0;
    }

    .nav-list,
    .nav-list-social {
        display: inline-flex;
    }

    .nav-list_item {
        margin: 0 2rem;
        font-family: $barlow;

        a {
            color: $footer;
            text-decoration: none;
        }
    }

    .nav-list-social_item {
        margin: 0 1rem;
    }
}

@media screen and (min-width: 48rem) {

    .footer {
        .nav-list_item {
            a:hover {
                color: $White;
            }
        }
    }
}