.wrapper {
    height: 100vh;
    height: 100vh;

    background-image: url('../images/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .nav {
        width: 100vw;
        padding: $slavePadding;

        display: flex;
        justify-content: space-between;
    }

    .header {
        width: 100vw;
        text-align: center;
        position: relative;
        padding: $mainPadding;

        h1 {
            @include title;
            font-size: 4rem;
            color: $White;
            text-transform: uppercase;
            line-height: 5rem;
            letter-spacing: 0.5rem;
            margin-bottom: 5rem;
        }

        .mobile-menu {
            margin: 0 auto;
            width: calc(100% - 4.8rem);
            position: absolute;
            top: 0;

            .arrow-box {
                background-color: $White;
                padding: 4rem 0;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    line-height: 0;
                    border-bottom: 24px solid $White;
                    border-left: 20px solid transparent;
                    border-right: 22px solid transparent;
                    top: 0;
                    left: 98%;
                    transform: translate(-50%, -50%) rotate(140deg);
                }

                &_item {
                    margin: 3rem 0;

                    a {
                        color: $Darkgrayishblue;
                        font-size: 1.5rem;
                        font-family: $barlow;
                        text-decoration: none;
                    }

                }

                &_item:last-child {
                    a {
                        @include paragraph text-transform: uppercase;
                        background-color: $yellow;
                        border-radius: 50px;
                        padding: 1rem 3rem;
                        color: #000;
                    }
                }
            }
        }
    }
}